# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
backend/backend/

# Storage
backend/storage/users/

# Node
node_modules/
frontend/.next/
frontend/out/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
